@model ConfirmReservationDTO
<style>
    input[type="checkbox"] {
        accent-color: #009688; /* your chosen color */
        width: 18px;
        height: 18px;
        cursor: pointer; /* better UX */
    }
</style>
<div class="row">
    <div class="col-lg-8">
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Reservation Details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-calendar"></i> Dates Of Stay</h6>
                                <div class="list-group no-border">
                                    <a href="#" class="list-group-item">
                                        Check In: <span id="confirmCheckIn">-</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        Check Out: <span id="confirmCheckOut">-</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        Nights: <span id="confirmNights">-</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-coins"></i> Balance </h6>
                                <div class="list-group no-border">
                                    <a href="#" class="list-group-item">
                                        Amount: <span id="confirmAmount" class="label bg-teal">$</span>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-default heading-divided"><i class="icon-pencil6"></i> Comments And Notes</h6>

                                <div class="form-group">

                                    <textarea id="comment" asp-for="Comment" style="min-height:150px" rows="3" cols="3" maxlength="200" class="form-control maxlength-textarea" placeholder="Comment">

                                </textarea>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Reservation Status<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                </div>
                <div class="panel-body">
                    <div class="form-group">

                        <div class="checkbox disabled">
                            <label>
                                <input asp-for="IsPending" id="isPending" type="checkbox" disabled="disabled" checked>
                                Pending
                            </label>
                        </div>
                        @if (User.HasClaim("permission", "Reservation.Confirm"))
                        {
                            <div class="checkbox @(Model.IsConfirmed ? "disabled" : "")">
                                <label>
                                    <input asp-for="IsConfirmed" id="isConfirmed" type="checkbox" disabled="@(Model.IsConfirmed ? "disabled" : null)" />
                                    Confirmed
                                </label>
                            </div>
                        }
                        @if (User.HasClaim("permission", "Reservation.CheckIn"))
                        {
                            <div class="checkbox @(Model.IsCheckedIn ? "disabled" : "")">
                                <label>
                                    <input asp-for="IsCheckedIn" id="isCheckedIn" type="checkbox" disabled="@(Model.IsCheckedIn ? "disabled" : null)" />
                                    Checked In
                                </label>
                            </div>
                        }
                        @if (User.HasClaim("permission", "Reservation.CheckOut"))
                        {
                            <div class="checkbox @(Model.IsCheckedOut ? "disabled" : "")">
                                <label>
                                    <input asp-for="IsCheckedOut" id="isCheckedOut" type="checkbox" disabled="@(Model.IsCheckedOut ? "disabled" : null)" />
                                    Checked Out
                                </label>
                            </div>
                        }
                        @if (User.HasClaim("permission", "Reservation.Cancel"))
                        {
                            <div class="checkbox @(Model.IsCancelled ? "disabled" : "")">
                                <label>
                                    <input asp-for="IsCancelled" id="isCancelled" type="checkbox" disabled="@(Model.IsCancelled ? "disabled" : null)" />

                                    Cancelled
                                </label>
                            </div>
                        }
                        @if (User.HasClaim("permission", "Reservation.NoShow"))
                        {
                            <div class="checkbox @(Model.IsNoShow ? "disabled" : "")">
                                <label>
                                    <input asp-for="IsNoShow" id="isNoShow" type="checkbox" disabled="@(Model.IsNoShow ? "disabled" : null)" />

                                    No Show
                                </label>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="content-group">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Guests<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <span class="label label-success heading-text" id="guestCountLabel">0 guests</span>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="media-list" id="guestDisplayList">
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>



