@model BookRoomDTO
@{
    int BranchId = ViewBag.BranchId;
}

<div class="row">
    
    <form id="bookRoomForm">
        <input type="hidden" asp-for="BranchId" value="@ViewBag.BranchId" />
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <fieldset>

            <div class="row">
                <!-- Left Section -->
                <div class="col-md-8">
                    <legend class="text-semibold"><i class="icon-reading position-left"></i> Reservation Info</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Reservation Source<span class="text-danger">*</span></label>
                                <select asp-for="ReservationSourceId" id="ReservationSourceId" class=" form-control select" required data-placeholder="Reservation Source">
                                    <option></option>
                                    @foreach(var item in ViewBag.ReservationSource)
                                    {
                                        <option value="@item.Id">@item.DisplayText</option>
                                    }
                                </select>
                                <span asp-validation-for="ReservationSourceId" class="text-danger validation-error-label" ></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company</label>
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" id="selectedCompanyName" readonly placeholder="Company" data-toggle="modal" data-target="#modal_large">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-size-base"></i>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="CompanyId" id="CompanyId" />
                                <span asp-validation-for="CompanyId" class="text-danger validation-error-label"></span>
                            </div>
                        </div>
                    </div>



                    <div id="modal_large" class="modal fade in" style="display: none; padding-right: 15px;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h5 class="modal-title">Company</h5>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Serach company </label>
                                                <select id="companyNameSelect" class="form-control select" data-placeholder="Search by company name...">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <form id="companyForm">
                                        <input type="hidden" id="companyId"  value="0" />
                                        <input type="hidden" id="companyBranchId" value="0" />
                                        
                                        <div class="panel panel-flat border-left-sm border-left-teal ">
                                            <div class="panel-body">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="CompanyName">Name <span class="text-danger">*</span></label>
                                                                <input type="text" id="CompanyName" name="CompanyName" class="form-control" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="CompanyPhone">Phone <span class="text-danger">*</span></label>
                                                                <input type="text" id="CompanyPhone" name="CompanyPhone" class="form-control" required />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="CompanyAddress">Address</label>
                                                                <input type="text" id="CompanyAddress" name="CompanyAddress" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="CompanyNotes">Notes</label>
                                                                <textarea id="CompanyNotes" name="CompanyNotes" class="form-control" rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn bg-teal-400" id="saveCompanySelection">Save</button>

                                        </div>
                                    </form>
                                    </div>
                            </div>
                        </div>
                    </div>











                    <!-- Check-in & Check-out Dates -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Check In Date<span class="text-danger">*</span></label>
                                <input  asp-for="CheckInDate" class="form-control" />
                                @* <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn bg-teal-400 btn-icon" id="CheckInDateButton"><i class="icon-calendar3"></i></button>
                                    </span>
                                    <input type="text" asp-for="CheckInDate" class="form-control" id="CheckInDate" placeholder="Select a date" readonly="">
                                </div> *@
                                <span class="text-danger validation-error-label" asp-validation-for="CheckInDate"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Check Out Date<span class="text-danger">*</span></label>
                                <input  asp-for="CheckOutDate" class="form-control" />
                               @*  <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn bg-teal-400 btn-icon" id="CheckOutDateButton"><i class="icon-calendar3"></i></button>
                                    </span>
                                    <input type="text" asp-for="CheckOutDate" class="form-control" id="CheckOutDate" placeholder="Select a date" readonly="">
                                </div> *@
                                <span class="text-danger validation-error-label" asp-validation-for="CheckOutDate"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>No. Of Nights<span class="text-danger">*</span></label>
                                <input id="NumOfNights"  asp-for="NumOfNights" name="NumOfNights" class="form-control" readonly />
                                <span class="text-danger validation-error-label"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Adults & Children -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Adults<span class="text-danger">*</span></label>
                                    <select asp-for="NumOfAdults" class="form-control select" required data-placeholder="Num of adults">
                                        <option></option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                </select>
                                <span asp-validation-for="NumOfAdults" class="text-danger validation-error-label"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Children<span class="text-danger">*</span></label>
                                    <select asp-for="NumOfChildrens" class="form-control select" required data-placeholder="Num of childrens">
                                        <option></option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>                            
                                    <span asp-validation-for="NumOfChildrens" class="text-danger validation-error-label"></span>
                            </div>
                        </div>
                    </div>

                    <legend class="text-semibold"><i class="icon-reading position-left"></i> Rooms Selection</legend>
                   

                    <!-- Room Types Selection -->
                    <div class="form-group">
                        <button type="button" style="width:100px" id="singleBtn" class="btn text-teal-800 border-teal btn-flat" onclick="setToSingleMode()">Single</button>
                        <button type="button" style="width:100px" id="groupBtn" class="btn bg-teal" onclick="setToGroupMode()">Group</button>
                    </div>

                    <table class="table table-borderless" id="roomTable">
                        <thead style="background-color:#F5F5F5">
                            <tr>
                                <th>Room Type</th>
                                <th>No. of Rooms</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div id="addRoomWrapper">
                        <button type="button" class="btn text-teal-800 border-teal btn-flat" onclick="addRoomRow()">Add Room</button>
                    </div>

                    <!-- Choose Rate -->
                    <div class="form-group" style="margin-top:30px">
                        <label>Rate<span class="text-danger">*</span></label>
                        <a data-popup="popover" data-content="Select check-in/out dates and room type to see rates" data-trigger="hover">
                            <i class="icon-info22" style="color#00796B"></i>
                        </a>
                        <select id="rateSelect" asp-for="RateId" name="RateId" class="form-control select" required data-placeholder="Choose Rate">
                            <option></option>
                        </select>
                        <span asp-validation-for="RateId" class="text-danger validation-error-label"></span>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">Rate Details <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                    <li><a data-action="reload"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="rateDetails" class="col-md-12"></div>
                        </div>
                </div>
            </div>
                    

            </div>
        </fieldset>
    </form>
</div>

<script>
    $(document).ready(function () {

        // Initialize Select2
        $('#companyNameSelect').select2({
            placeholder: "Search and select company name",
            minimumInputLength: 2,
            ajax: {
                url: '/Company/GetSerachedCompaniesByName',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(function (company) {
                            return {
                                id: company.id,
                                text: company.displayText
                            };
                        })
                    };
                },
                cache: true
            }
        });

        $('#companyNameSelect').on('select2:select', function (e) { // <-- fix event name
            var companyId = e.params.data.id;

            if (companyId) {
                $.ajax({
                    url: '/Company/GetSerachedCompanyData/' + companyId,
                    type: 'GET',
                    success: function (company) {
                        console.log("Company Data", company); // Debug

                        $('#companyId').val(company.id);
                        $('#CompanyName').val(company.name);
                        $('#CompanyPhone').val(company.phone);
                        $('#CompanyAddress').val(company.address);
                        $('#CompanyNotes').val(company.notes);
                        $('#companyBranchId').val(company.branchId);

                        // Clear the Select2 after selecting a company
                        $('#companyNameSelect').val(null).trigger('change');
                    },
                    error: function () {
                        alert('Failed to fetch company data.');
                    }
                });
            }
        });

        $('#saveCompanySelection').on('click', function () {



            const payload = {
                Id: $('#companyId').val() || 0,
                Name: $('#CompanyName').val(),
                Phone: $('#CompanyPhone').val(),
                Address: $('#CompanyAddress').val(),
                Notes: $('#CompanyNotes').val(),
                BranchId: $('#companyBranchId').val()
                };

            $.ajax({
                url: '/Company/SaveCompany',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                success: function (response) {
                    if (response.success) {
                        $('#selectedCompanyName').val(response.name);
                        $('#CompanyId').val(response.companyId);

                        $('#companyId').val(0);
                        $('#companyBranchId').val(0);
                        $('#CompanyName').val('');
                        $('#CompanyPhone').val('');
                        $('#CompanyAddress').val('');
                        $('#CompanyNotes').val('');
                        

                        $('#modal_large').modal('hide');
                    } else {
                        alert('Error saving company.');
                    }
                },
                error: function () {
                    alert('Error contacting server.');
                }
            });
        });

    });
</script>

<script>
    let isGroupMode = false; // Default mode is Single

    function setToSingleMode() {
        isGroupMode = false;

        $('#addRoomWrapper').hide();

        $('#singleBtn')
            .addClass('text-teal-800 border-teal btn-flat')
            .removeClass('bg-teal');

        $('#groupBtn')
            .removeClass('text-teal-800 border-teal btn-flat')
            .addClass('bg-teal');

        const rows = $('#roomTable tbody tr');
        if (rows.length > 1) {
            rows.slice(1).remove();
        }
    }

    function setToGroupMode() {
        isGroupMode = true;

        $('#addRoomWrapper').show();

        $('#groupBtn')
            .addClass('text-teal-800 border-teal btn-flat')
            .removeClass('bg-teal');

        $('#singleBtn')
            .removeClass('text-teal-800 border-teal btn-flat')
            .addClass('bg-teal');
    }

    // Custom display of Room Type options with colored count
    function formatRoomOption(data) {
    if (!data.id) return data.text;

    const $option = $(data.element);
    const name = $option.data('name') || data.text;
    const count = $option.data('count');

    return $(`
        <div class="d-flex justify-content-between align-items-center w-100">
            <span class="text-start">${name}</span>
            <span class="label bg-primary ">${count}</span>
        </div>
    `);
}


    function formatRoomSelection(data) {
        return data.text;
    }

    function initializeSelect2(container) {
        $(container).find('.room-type-select').select2({
            width: '100%',
            placeholder: function () {
                return $(this).data('placeholder');
            },
            templateResult: formatRoomOption,
            templateSelection: formatRoomSelection
        });

        $(container).find('select:not(.room-type-select)').select2({
            width: '100%',
            placeholder: function () {
                return $(this).data('placeholder');
            }
        });
    }

    function addRoomRow() {
        const tbody = document.querySelector('#roomTable tbody');

        // 🟢 Step 1: Get already selected RoomType IDs
        const selectedIds = Array.from(document.querySelectorAll('.room-type-select'))
            .map(select => select.value)
            .filter(val => val !== "");

        // 🟢 Step 2: Build options excluding already selected
        let optionsHtml = `<option></option>`;
    @foreach (var item in ViewBag.RoomTypes)
    {
        <text>
                    if (!selectedIds.includes("@item.Id")) {
                optionsHtml += `<option value="@item.Id" data-name="@item.Name" data-count="@item.NumOfAvailableRooms">@item.Name</option>`;
            }
        </text>
    }

        // 🟢 Step 3: Create new row with filtered options
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td style="padding: 4px;">
                <select class="form-control select room-type-select" data-placeholder="Room Type">
                    ${optionsHtml}
                </select>
            </td>
            <td style="padding: 4px;">
                <select class="form-control select" data-placeholder="Num Of Rooms">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
            <td style="padding: 4px; vertical-align: middle;">
                <div style="display: flex; align-items: center;">
                    <button type="button" class="btn btn-sm btn-danger remove-room-btn" onclick="removeRoomRow(this)">
                        &minus;
                    </button>
                </div>
            </td>
        `;

        tbody.appendChild(newRow);
        initializeSelect2(newRow);
        updateRemoveButtons();
    }


    function removeRoomRow(button) {
        const row = button.closest('tr');
        row.remove();
        updateRemoveButtons();
        refreshAllRoomTypeOptions(); // 🟢 Refresh disabled options
    }

    function updateRemoveButtons() {
        const rows = document.querySelectorAll('#roomTable tbody tr');
        const removeButtons = document.querySelectorAll('.remove-room-btn');

        if (rows.length === 1) {
            removeButtons.forEach(btn => btn.style.display = 'none');
        } else {
            removeButtons.forEach(btn => btn.style.display = 'inline-block');
        }
    }


    function refreshAllRoomTypeOptions() {
        const allSelects = $('.room-type-select');
        const selectedValues = allSelects.map(function () {
            return $(this).val();
        }).get().filter(v => v);

        allSelects.each(function () {
            const currentVal = $(this).val();
            const $select = $(this);

            $select.find('option').each(function () {
                const optionVal = $(this).val();
                if (optionVal === "" || optionVal === currentVal) {
                    $(this).prop('disabled', false);
                } else if (selectedValues.includes(optionVal)) {
                    $(this).prop('disabled', true);
                } else {
                    $(this).prop('disabled', false);
                }
            });
        });
    }


    document.addEventListener('DOMContentLoaded', function () {
        setToSingleMode(); // Default to Single
        addRoomRow();      // Add one initial row
        updateRemoveButtons();
    });
</script>

<script>
    $("#CheckInDate, #CheckOutDate").change(function () {
        let checkIn = new Date($("#CheckInDate").val());
        let checkOut = new Date($("#CheckOutDate").val());

        if (checkIn >= checkOut) {
            Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'Error!',
                text: 'Check-out date must be after check-in date.',
                showConfirmButton: true
            });
            $("#CheckOutDate").val("");
        }
        else {
            const nights = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));
            $("#NumOfNights").val(nights);
        }
    });

</script>

<script>
    $(document).ready(function () {
        $('#rateDetails').hide();

        // 🔁 Listen for room type changes in any row (even dynamically added)
        $(document).on('change', '#roomTable select.room-type-select', function () {
            updateSelectedRoomTypesAndLoadRates();
        });

        // ✅ Gather selected RoomType IDs from all rows and load rates
        function updateSelectedRoomTypesAndLoadRates() {
            const roomTypeIds = [];

            $('#roomTable select.room-type-select').each(function () {
                const val = $(this).val();
                if (val) {
                    roomTypeIds.push(Number(val));
                }
            });

            loadRatesDropdown(roomTypeIds);
        }

        // ✅ Load rates from server and populate the Rate dropdown
        function loadRatesDropdown(selectedRoomTypes) {
            const checkInVal = $("#CheckInDate").val();
            const checkOutVal = $("#CheckOutDate").val();

            if (!checkInVal || !checkOutVal || selectedRoomTypes.length === 0) {
                $('#rateSelect').empty().append('<option value="">Select Rate</option>');
                $('#rateDetails').html('').hide();
                return;
            }

            $.ajax({
                url: '/Rate/GetRatesByRoomTypes',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    RoomTypeIds: selectedRoomTypes,
                    CheckInDate: new Date(checkInVal),
                    CheckOutDate: new Date(checkOutVal)
                }),
                success: function (response) {
                    const rateSelect = $('#rateSelect');
                    rateSelect.empty().append('<option value="">Select Rate</option>');

                    $.each(response, function (index, item) {
                        rateSelect.append(`<option value="${item.id}">${item.name} - ($${item.price})</option>`);
                    });
                },
                error: function (xhr) {
                    console.error('❌ Failed to load rates:', xhr.responseText);
                }
            });
        }

        // ✅ Load rate details when user selects a rate
        function loadRateDetails() {
            const selectedRateId = $('#rateSelect').val();

            if (!selectedRateId) {
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please select a rate first.',
                    showConfirmButton: true
                });
                return;
            }

            $.ajax({
                url: '/Rate/GetRateDetailsForReservation',
                type: 'GET',
                data: { rateId: selectedRateId },
                success: function (response) {
                    if (response && response.length > 0) {
                        let rateHtml = '';
                        $.each(response, function (index, rateDetail) {
                            rateHtml += `
                                <h4>${rateDetail.typeName}</h4>
                                <li><strong>Hourly Price:</strong> $${rateDetail.hourlyPrice}</li>
                                <li><strong>Daily Price:</strong> $${rateDetail.dailyPrice}</li>
                                <li><strong>Extra Daily Price:</strong> $${rateDetail.extraDailyPrice}</li>
                                <li><strong>Weekly Price:</strong> $${rateDetail.weeklyPrice}</li>
                                <li><strong>Monthly Price:</strong> $${rateDetail.monthlyPrice}</li>
                                <hr>
                            `;
                        });

                        $('#rateDetails').html(rateHtml).show();
                    } else {
                        $('#rateDetails').html('<p>No rate details available.</p>').show();
                    }
                },
                error: function (xhr) {
                    console.error('❌ Failed to load rate details.', xhr.responseText);
                    $('#rateDetails').html('<p>Error loading rate details.</p>').show();
                }
            });
        }

        // 🔁 If you have a reload button
        $('.heading-elements [data-action="reload"]').click(function (e) {
            e.preventDefault();
            loadRateDetails();
        });

        // 🔁 Optionally: auto-load rates when check-in/out changes
        $('#CheckInDate, #CheckOutDate').change(function () {
            updateSelectedRoomTypesAndLoadRates();
        });
    });
</script>

<script>
    $("#bookRoomForm").on("submit", function (e) {
    e.preventDefault();

    const formData = {
        CheckInDate: $("#CheckInDate").val(),
        CheckOutDate: $("#CheckOutDate").val(),
        NumOfNights: $("#NumOfNights").val(),
        NumOfAdults: $("#NumOfAdults").val(),
        NumOfChildrens: $("#NumOfChildrens").val(),
        ReservationSourceId: $("#ReservationSourceId").val(),
        RateId: $("#rateSelect").val(),
        BranchId: $("input[name='BranchId']").val(),
        companyId: $("#CompanyId").val(),
        roomTypeToBookDTOs: []
    };

    // ✅ Extract selected room types from the new dynamic table rows
    $("#roomTable tbody tr").each(function () {
        const roomTypeId = $(this).find("select").eq(0).val();
        const numOfRooms = $(this).find("select").eq(1).val();

        if (roomTypeId && numOfRooms > 0) {
            formData.roomTypeToBookDTOs.push({
                Id: roomTypeId,
                NumOfRooms: parseInt(numOfRooms)
            });
        }
    });

    $.ajax({
        url: '/Reservation/SaveRoomToBook',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function (response) {
            if (response.success) {
                toastr.success(response.message, 'Success');

                // Confirmation info
                $("#confirmCheckIn").text(formData.CheckInDate);
                $("#confirmCheckOut").text(formData.CheckOutDate);

                const checkIn = new Date(formData.CheckInDate);
                const checkOut = new Date(formData.CheckOutDate);
                const nights = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));
                $("#confirmNights").text(nights);

                if (response.amount) {
                    $("#confirmAmount").text(response.amount + " EGP");
                }

                $(document).trigger("roomBookingSuccess");
            } else {
                Swal.fire("Error", response.message, "error");
                $("#bookRoomContainer").html(response);
            }
        },
        error: function () {
            Swal.fire("Error", "Failed to save room booking.", "error");
        }
    });
});

</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Company/GetCompaniesDropDown',
            method: 'GET',
            success: function (data) {
                var $select = $('#companySelect');
                $select.empty();

                // Set default "no company" option with empty string ("") as value
                $select.append('<option value="">-- No Company --</option>');

                $.each(data, function (index, item) {
                    $select.append($('<option>', {
                        value: item.id,
                        text: item.displayText
                    }));
                });
            },
            error: function () {
                alert("Failed to load companies.");
            }
        });
    });
</script>

