@model BookRoomDTO


<div class="row">
    <form id="bookRoomForm">
        <fieldset>
            <div class="row">

                <legend class="text-semibold">
                    <i class="icon-reading position-left"></i> Reservation Info
                    <a class="control-arrow" data-toggle="collapse" data-target="#demo1">
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="col-md-12">
                    <div id="demo1" class="collapse in">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reservation Source<span class="text-danger">*</span></label>
                                    <select asp-for="ReservationSourceId" id="ReservationSourceId" class=" form-control select" required data-placeholder="Reservation Source">
                                        <option></option>
                                        @foreach (var item in ViewBag.ReservationSource)
                                        {
                                            <option value="@item.Id">@item.DisplayText</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ReservationSourceId" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company</label>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="selectedCompanyName" readonly placeholder="Company" data-toggle="modal" data-target="#modal_large">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base"></i>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="CompanyId" id="CompanyId" />
                                    <span asp-validation-for="CompanyId" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Check-in - Check-out <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        <input type="text" class="form-control daterange-time" id="StayRange" placeholder="Select check-in and check-out" value="" />
                                        <span asp-validation-for="CheckInDate" class="text-danger validation-error-label"></span>
                                        <span asp-validation-for="CheckOutDate" class="text-danger validation-error-label"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="CheckInDate" id="CheckInDate" />
                                <input type="hidden" asp-for="CheckOutDate" id="CheckOutDate" />
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Number of Nights</label>
                                    <input type="text" class="form-control" asp-for="NumOfNights" id="NumOfNights" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <legend class="text-semibold" style="margin-top:200px">
                    <i class="icon-reading position-left"></i> Rooms Selection
                    <a class="control-arrow" data-toggle="collapse" data-target="#demo2" >
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="col-md-12">
                    <div id="demo2" class="collapse in">
                        <div class="form-group">
                            <button type="button" style="width:100px" id="singleBtn" class="btn text-teal-800 border-teal btn-flat" onclick="setToSingleMode()">Single</button>
                            <button type="button" style="width:100px" id="groupBtn" class="btn bg-teal" onclick="setToGroupMode()">Group</button>
                        </div>

                        <table class="table table-bordered" id="roomTable">
                            <thead>
                                <tr class="active">
                                    <th>Room Type</th>
                                    <th>No. of Rooms</th>
                                    <th>Adults</th>
                                    <th>Children</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div id="addRoomWrapper" style="margin-top:10px">
                            <button type="button" class="btn text-teal-800 border-teal btn-flat" onclick="addRoomRow()">Add Room</button>
                        </div>
                        <div class="row" style="margin-top:30px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Rate <span class="text-danger">*</span></label>

                                    <div class="input-group">
                                        <select id="rateSelect" asp-for="RateId" name="RateId" class="form-control select" required data-placeholder="Choose Rate">
                                            <option></option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_default">
                                                <i class="icon-spinner9"></i> Rate Details
                                            </button>

                                        </div>
                                    </div>
                                    <span asp-validation-for="RateId" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<div id="modal_default" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Rate Details</h5>
            </div>

            <div class="modal-body">
                <div class="panel">
                    
                    <div class="panel-body">
                        <div id="rateDetails" class="col-md-12"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="modal_large" class="modal fade in" style="display: none; padding-right: 15px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Company</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Serach company </label>
                            <select id="companyNameSelect" class="form-control select" data-placeholder="Search by company name...">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <form id="companyForm">
                    <input type="hidden" id="companyId" value="0" />

                    <div class="panel panel-flat border-left-sm border-left-teal ">
                        <div class="panel-body">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyName">Name <span class="text-danger">*</span></label>
                                            <input type="text" id="CompanyName" name="CompanyName" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyPhone">Phone <span class="text-danger">*</span></label>
                                            <input type="text" id="CompanyPhone" name="CompanyPhone" class="form-control" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyAddress">Address</label>
                                            <input type="text" id="CompanyAddress" name="CompanyAddress" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyEmail">Email</label>
                                            <input type="text" id="CompanyEmail" name="CompanyEmail" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyNotes">Notes</label>
                                            <textarea id="CompanyNotes" name="CompanyNotes" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-teal-400" id="saveCompanySelection">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#companyNameSelect').select2({
            placeholder: "Search and select company name",
            minimumInputLength: 3,
            ajax: {
                url: '/Company/GetSerachedCompaniesByName',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(function (company) {
                            return {
                                id: company.id,
                                text: company.displayText
                            };
                        })
                    };
                },
                cache: true
            }
        });

        $('#companyNameSelect').on('select2:select', function (e) { // <-- fix event name
            var companyId = e.params.data.id;

            if (companyId) {
                $.ajax({
                    url: '/Company/GetSerachedCompanyData/' + companyId,
                    type: 'GET',
                    success: function (company) {
                        console.log("Company Data", company); // Debug

                        $('#companyId').val(company.id);
                        $('#CompanyName').val(company.name);
                        $('#CompanyPhone').val(company.phone);
                        $('#CompanyAddress').val(company.address);
                        $('#CompanyNotes').val(company.notes);
                        $('#CompanyEmail').val(company.email);

                        // Clear the Select2 after selecting a company
                        $('#companyNameSelect').val(null).trigger('change');
                    },
                    error: function () {
                        alert('Failed to fetch company data.');
                    }
                });
            }
        });


        $("#companyForm").on("submit", function (e) {
            e.preventDefault();

            const formData = {
                Id: $('#companyId').val() || 0,
                Name: $('#CompanyName').val() || null,
                Phone: $('#CompanyPhone').val() || null,
                Address: $('#CompanyAddress').val() || null,
                Notes: $('#CompanyNotes').val() || null,
                Email: $('#CompanyEmail').val() || null,
            };

            $.ajax({
                url: '/Company/SaveCompany',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response.success) {
                        $('#selectedCompanyName').val(response.name);
                        $('#CompanyId').val(response.companyId);

                        $("#companyForm")[0].reset();
                        $("#companyId").val(0);

                        $('#modal_large').modal('hide');
                    } else {
                        alert('Error saving company.');
                    }
                },
                error: function () {
                    alert('Error contacting server.');
                }
            });

        });
       

    });
</script>

<script>
    let isGroupMode = false;

    // ========== Helpers ==========
    function fillOptions($select, start, end, includeEmpty = true) {
        const current = $select.val();
        $select.empty();
        if (includeEmpty) $select.append('<option></option>');
        for (let i = start; i <= end; i++) {
            $select.append(`<option value="${i}">${i}</option>`);
        }
        // try preserve selection if still valid
        if (current && +current >= start && +current <= end) {
            $select.val(current).trigger('change.select2');
        }
    }

    function updateRowCapacities($row) {
        const $roomType = $row.find('.room-type-select');
        const $numRooms = $row.find('.num-rooms-select');
        const $adults = $row.find('.num-adults-select');
        const $children = $row.find('.num-children-select');

        const opt = $roomType.find('option:selected');
        const maxAdultsPerRoom = parseInt(opt.data('max-adults') || 0, 10);
        const maxChildrenPerRoom = parseInt(opt.data('max-children') || 0, 10);
        const rooms = parseInt($numRooms.val() || 0, 10);

        const totalMaxAdults = maxAdultsPerRoom * rooms;
        const totalMaxChildren = maxChildrenPerRoom * rooms;

        // Adults 1..totalMaxAdults (if rooms==0 or no type selected -> keep empty)
        if (totalMaxAdults > 0) {
            fillOptions($adults, 1, totalMaxAdults, true);
            if (!$adults.val()) {
                $adults.val('1').trigger('change.select2');
            }
        } else {
            $adults.empty().append('<option></option>').val(null).trigger('change.select2');
        }

        // Children 0..totalMaxChildren (start at 0)
        if (totalMaxChildren > 0) {
            const prev = $children.val();
            $children.empty().append('<option value="0">0</option>');
            for (let i = 1; i <= totalMaxChildren; i++) {
                $children.append(`<option value="${i}">${i}</option>`);
            }
            if (prev !== null && prev !== undefined && +prev <= totalMaxChildren) {
                $children.val(prev).trigger('change.select2');
            } else {
                $children.val('0').trigger('change.select2');
            }
        } else {
            $children.empty().append('<option></option>').val(null).trigger('change.select2');
        }
    }

    function formatRoomOption(data) {
        if (!data.id) return data.text;
        const $option = $(data.element);
        const name = $option.data('name') || data.text;
        const count = $option.data('count');
        const isDisabled = $option.prop('disabled');
        return $(`
                <div class="d-flex justify-content-between align-items-center w-100 ${isDisabled ? 'text-muted' : ''}">
                    <span>${name}</span>
                    <span class="label ${isDisabled ? 'bg-danger' : 'bg-primary'}">${count}</span>
                </div>
            `);
    }
    function formatRoomSelection(data) { return data.text; }

    function initializeSelect2(container) {
        const $container = $(container);
        const $roomTypeSelect = $container.find('.room-type-select');

        $roomTypeSelect.select2({
            width: '100%',
            placeholder: function () { return $(this).data('placeholder'); },
            templateResult: formatRoomOption,
            templateSelection: formatRoomSelection
        });

        // Prevent selecting unavailable RoomTypes
        $roomTypeSelect.on('select2:selecting', function (e) {
            const count = $(e.params.args.data.element).data('count');
            if (count === 0 || count === "0") {
                e.preventDefault();
                toastr.warning("This room type is not available.");
            }
        });

        $container.find('select:not(.room-type-select)').select2({
            width: '100%',
            placeholder: function () { return $(this).data('placeholder'); }
        });

        // When RoomType changes: populate NumRooms, then update Adults/Children (with multiplication)
        $roomTypeSelect.on('change', function () {
            const $row = $(this).closest('tr');
            const roomOption = $(this).find('option:selected');
            const maxRooms = parseInt(roomOption.data('count') || 0, 10);

            const $numRooms = $row.find('.num-rooms-select');
            fillOptions($numRooms, 1, Math.max(maxRooms, 0), true);
            if (maxRooms >= 1) {
                $numRooms.val('1').trigger('change.select2');
            } else {
                $numRooms.val(null).trigger('change.select2');
            }

            updateRowCapacities($row);
            refreshAllRoomTypeOptions();
        });

        // When NumRooms changes: recompute Adults/Children caps (RoomType caps × rooms)
        $container.on('change', '.num-rooms-select', function () {
            const $row = $(this).closest('tr');
            updateRowCapacities($row);
        });
    }

    // ========== Modes ==========
    function setToSingleMode() {
        isGroupMode = false;
        $('#addRoomWrapper').hide();

        $('#singleBtn').addClass('text-teal-800 border-teal btn-flat').removeClass('bg-teal');
        $('#groupBtn').removeClass('text-teal-800 border-teal btn-flat').addClass('bg-teal');

        const rows = $('#roomTable tbody tr');
        if (rows.length > 1) rows.slice(1).remove();
        refreshAllRoomTypeOptions();
    }

    function setToGroupMode() {
        isGroupMode = true;
        $('#addRoomWrapper').show();

        $('#groupBtn').addClass('text-teal-800 border-teal btn-flat').removeClass('bg-teal');
        $('#singleBtn').removeClass('text-teal-800 border-teal btn-flat').addClass('bg-teal');

        refreshAllRoomTypeOptions();
    }

    // ========== Row add/remove ==========
    function addRoomRow() {
        const lastRow = $('#roomTable tbody tr').last();

        if (lastRow.length > 0) {
            const roomType = lastRow.find('.room-type-select').val();
            const numRooms = lastRow.find('.num-rooms-select').val();
            const numAdults = lastRow.find('.num-adults-select').val();
            const numChildren = lastRow.find('.num-children-select').val();

            if (!roomType || !numRooms || !numAdults || !numChildren) {
                toastr.warning("Please fill all fields in the last row before adding a new room.");
                return;
            }
        }

        const tbody = document.querySelector('#roomTable tbody');
        const selectedIds = Array.from(document.querySelectorAll('.room-type-select'))
            .map(select => select.value).filter(val => val !== "");

        let optionsHtml = `<option></option>`;
    @foreach (var item in ViewBag.RoomTypes)
    {
        <text>
                        if (!(isGroupMode && selectedIds.includes("@item.Id"))) {
                optionsHtml += `<option value="@item.Id"
                                data-name="@item.Name"
                                data-count="@item.NumOfAvailableRooms"
                                data-max-adults="@item.MaxNumOfAdults"
                                data-max-children="@item.MaxNumOfChildrens">
                @item.Name (@item.NumOfAvailableRooms available)
                            </option>`;
            }
        </text>
    }

            const newRow = document.createElement('tr');
        newRow.innerHTML = `
                <td style="padding: 4px;">
                    <select class="form-control select room-type-select" data-placeholder="Room Type">
                        ${optionsHtml}
                    </select>
                </td>
                <td style="padding: 4px;">
                    <select class="form-control select num-rooms-select" data-placeholder="Num Of Rooms"></select>
                </td>
                <td style="padding: 4px;">
                    <select class="form-control select num-adults-select" data-placeholder="Adults"></select>
                </td>
                <td style="padding: 4px;">
                    <select class="form-control select num-children-select" data-placeholder="Children"></select>
                </td>
                <td style="padding: 4px; vertical-align: middle;">
                    <button type="button" class="btn btn-sm btn-danger remove-room-btn" onclick="removeRoomRow(this)">−</button>
                </td>
            `;

        tbody.appendChild(newRow);
        initializeSelect2(newRow);
        updateRemoveButtons();
        toggleRoomSelectsBasedOnDates(); // enable/disable based on dates
        refreshAllRoomTypeOptions();
    }

    function removeRoomRow(button) {
        const row = button.closest('tr');
        row.remove();
        updateRemoveButtons();
        refreshAllRoomTypeOptions();
    }

    function updateRemoveButtons() {
        const rows = document.querySelectorAll('#roomTable tbody tr');
        const removeButtons = document.querySelectorAll('.remove-room-btn');
        removeButtons.forEach(btn => btn.style.display = rows.length === 1 ? 'none' : 'inline-block');
    }

    // Disable already-selected room types across rows (when in group mode)
    function refreshAllRoomTypeOptions() {
        const allSelects = $('.room-type-select');
        const selectedValues = allSelects.map(function () { return $(this).val(); }).get().filter(v => v);

        allSelects.each(function () {
            const currentVal = $(this).val();
            $(this).find('option').each(function () {
                const optionVal = $(this).val();
                if (!optionVal || optionVal === currentVal) {
                    $(this).prop('disabled', false);
                } else {
                    // disable only in group mode
                    $(this).prop('disabled', isGroupMode && selectedValues.includes(optionVal));
                }
            });
        });

        // refresh Select2 rendering after disabling/enabling
        allSelects.each(function () { $(this).trigger('change.select2'); });
    }

    // Enable selects only when dates are chosen
    function toggleRoomSelectsBasedOnDates() {
        const hasDates = $('#CheckInDate').val() && $('#CheckOutDate').val();
        $('#roomTable select').prop('disabled', !hasDates);

        $('#roomTable .select').each(function () {
            if (!hasDates) {
                $(this).val(null).trigger('change.select2'); // Reset select2
            }
        });
    }

    // ========== Init ==========
    document.addEventListener('DOMContentLoaded', function () {
        setToSingleMode();
        addRoomRow();
        updateRemoveButtons();
        toggleRoomSelectsBasedOnDates(); // Initial check on page load
    });

    // Re-evaluate on date change
    $('#CheckInDate, #CheckOutDate').on('change', function () {
        toggleRoomSelectsBasedOnDates();
    });
</script>

<script>
    $(function () {

        function clearDates() {
            $('#CheckInDate').val('').trigger('change');
            $('#CheckOutDate').val('').trigger('change');
            $('#NumOfNights').val('');
            $('#StayRange').val('');
        }

        clearDates();

        $('.daterange-time').on('apply.daterangepicker', function (ev, picker) {
            const checkIn = picker.startDate;
            const checkOut = picker.endDate;

            if (checkIn >= checkOut) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Dates',
                    text: 'Check-out must be after check-in.',
                    position: 'top',
                    showConfirmButton: true
                });

                clearDates();
                return;
            }

            $('#CheckInDate').val(checkIn.format('YYYY-MM-DDTHH:mm')).trigger('change');
            $('#CheckOutDate').val(checkOut.format('YYYY-MM-DDTHH:mm')).trigger('change');

            const durationHours = checkOut.diff(checkIn, 'hours', true);
            const nights = durationHours < 24 ? 0 : Math.floor(durationHours / 24);
            $('#NumOfNights').val(nights);

            $(this).val(checkIn.format('YYYY-MM-DD HH:mm') + ' - ' + checkOut.format('YYYY-MM-DD HH:mm'));
        });

        $('.daterange-time').on('cancel.daterangepicker', function () {
            clearDates();
        });
    });
</script>

<script>
    $(document).ready(function () {
        // 🔁 Still used for rate dropdown population
        $(document).on('change', '#roomTable select.room-type-select', function () {
            updateSelectedRoomTypesAndLoadRates();
        });

        $('#CheckInDate, #CheckOutDate').change(function () {
            updateSelectedRoomTypesAndLoadRates();
        });

        function updateSelectedRoomTypesAndLoadRates() {
            const roomTypeIds = [];

            $('#roomTable select.room-type-select').each(function () {
                const val = $(this).val();
                if (val) {
                    roomTypeIds.push(Number(val));
                }
            });

            loadRatesDropdown(roomTypeIds);
        }

        function loadRatesDropdown(selectedRoomTypes) {
            const checkInVal = $("#CheckInDate").val();
            const checkOutVal = $("#CheckOutDate").val();
            const rateSelect = $('#rateSelect');

            if (!checkInVal || !checkOutVal || selectedRoomTypes.length === 0) {
                rateSelect.empty().append('<option value="">Select Rate</option>');
                $('#rateDetails').html('').hide();
                return;
            }

            $.ajax({
                url: '/Rate/GetRatesByRoomTypes',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    RoomTypeIds: selectedRoomTypes,
                    CheckInDate: new Date(checkInVal),
                    CheckOutDate: new Date(checkOutVal)
                }),
                success: function (response) {
                    rateSelect.empty();

                    rateSelect.append(new Option('Select Rate', '', false, false));

                    $.each(response, function (index, item) {
                        // Build display text for room types
                        const roomTypeInfo = item.roomTypeRateForReservations
                            .map(rt => `${rt.typeName}($${rt.dailyPrice})`)
                            .join(' - ');

                        const optionText = `${item.name}|||${roomTypeInfo}`; // Use delimiter to split later

                        const option = new Option(optionText, item.id, false, false);
                        rateSelect.append(option);
                    });

                    // Initialize or reinitialize Select2 with template
                    rateSelect.select2({
                        width: '100%',
                        templateResult: formatRateOption,
                        templateSelection: formatRateOption
                    });
                },
                error: function (xhr) {
                    console.error('❌ Failed to load rates:', xhr.responseText);
                }
            });
        }

        // Custom rendering for dropdown items
        function formatRateOption(option) {
            if (!option.id) 
                return option.text;

            const [rateName, roomTypes] = option.text.split('|||');

            return $(`
            <div>
                <span style="color:#007bff; font-weight:bold;">${rateName}</span>
                <span> - ${roomTypes}</span>
            </div>
        `);
        }

        function loadRateDetails() {
            const selectedRateId = $('#rateSelect').val();

            if (!selectedRateId) {
                $('#rateDetails').html('<p class="text-danger">Please select a rate first.</p>').show();
                return;
            }

            $.ajax({
                url: '/Rate/GetRateDetailsForReservation',
                type: 'GET',
                data: { rateId: selectedRateId },
                success: function (response) {
                    if (response && response.length > 0) {
                        let rateHtml = '';
                        $.each(response, function (index, rateDetail) {
                            rateHtml += `
                                <h4>${rateDetail.typeName}</h4>
                                <ul>
                                    <li><strong>Hourly Price:</strong> $${rateDetail.hourlyPrice}</li>
                                    <li><strong>Daily Price:</strong> $${rateDetail.dailyPrice}</li>
                                    <li><strong>Extra Daily Price:</strong> $${rateDetail.extraDailyPrice}</li>
                                    <li><strong>Weekly Price:</strong> $${rateDetail.weeklyPrice}</li>
                                    <li><strong>Monthly Price:</strong> $${rateDetail.monthlyPrice}</li>
                                </ul>
                                <hr>
                            `;                           ;
                        });

                        $('#rateDetails').html(rateHtml).show();
                    } else {
                        $('#rateDetails').html('<p>No rate details available.</p>').show();
                    }
                },
                error: function (xhr) {
                    console.error('❌ Failed to load rate details.', xhr.responseText);
                    $('#rateDetails').html('<p>Error loading rate details.</p>').show();
                }
            });
        }

        // 🚀 Load details when modal opens
        $('#modal_default').on('show.bs.modal', function () {
            loadRateDetails();
        });

        // 🌀 Reload logic inside modal (optional)
        $('#modal_default [data-action="reload"]').click(function (e) {
            e.preventDefault();
            loadRateDetails();
        });
    });
</script>

<script>
    $("#bookRoomForm").on("submit", function (e) {
    e.preventDefault();

        const companyIdVal = $("#CompanyId").val();
        const formData = {
            CheckInDate: $("#CheckInDate").val(),
            CheckOutDate: $("#CheckOutDate").val(),
            NumOfNights: $("#NumOfNights").val(),
            ReservationSourceId: $("#ReservationSourceId").val(),
            RateId: $("#rateSelect").val(),
            companyId: companyIdVal ? parseInt(companyIdVal) : null,
            roomTypeToBookDTOs: []
        };

        // ✅ Extract selected room types from the dynamic table
        $("#roomTable tbody tr").each(function () {
            const roomTypeId = $(this).find("select").eq(0).val();
            const numOfRooms = $(this).find(".num-rooms-select").val();
            const numAdults = $(this).find(".num-adults-select").val();
            const numChildren = $(this).find(".num-children-select").val();

            if (roomTypeId && numOfRooms > 0) {
                formData.roomTypeToBookDTOs.push({
                    Id: parseInt(roomTypeId),
                    NumOfRooms: parseInt(numOfRooms),
                    NumOfAdults: parseInt(numAdults || 0),
                    NumOfChildren: parseInt(numChildren || 0)
                });
            }
        });

    $.ajax({
        url: '/Reservation/SaveRoomToBook',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function (response) {
            if (response.success) {
                toastr.success(response.message, 'Success');

                // Confirmation info
                $("#confirmCheckIn").text(formData.CheckInDate);
                $("#confirmCheckOut").text(formData.CheckOutDate);

                const checkIn = new Date(formData.CheckInDate);
                const checkOut = new Date(formData.CheckOutDate);
                const nights = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));
                $("#confirmNights").text(nights);

                if (response.amount) {
                    $("#confirmAmount").text(response.amount + " EGP");
                }

                $(document).trigger("roomBookingSuccess");
            } else {
                //Swal.fire("Error", response.message, "error");
                $("#bookRoomContainer").html(response);
            }
        },
        error: function () {
            Swal.fire("Error", "Failed to save room booking.", "error");
        }
    });
});

</script>

