@model ReservationDetailsDTO


<div class="row">
    <form id="bookRoomForm">

        <input asp-for="CheckInDate" />
        <span asp-validation-for="CheckInDate"></span>

        <input asp-for="CheckOutDate" />
        <span asp-validation-for="CheckOutDate"></span>
        <fieldset>
            <div class="row">                

                <legend class="text-semibold">
                    <i class="icon-reading position-left"></i> Reservation Info
                    <a class="control-arrow" data-toggle="collapse" data-target="#demo1">
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="col-md-12">
                    <div id="demo1" class="collapse in">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reservation Source<span class="text-danger">*</span></label>
                                    <select asp-for="ReservationSourceId" data-selected="@Model?.ReservationSourceId" id="reservationSourceSelect" class="form-control select" required data-placeholder="Reservation Source">
                                        <option value=""></option>
                                    </select>
                                    <span asp-validation-for="ReservationSourceId" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company</label>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="selectedCompanyName" readonly placeholder="Select Company..." data-toggle="modal" data-target="#companyModal">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base"></i>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="CompanyId" id="CompanyId" />
                                    <span asp-validation-for="CompanyId" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Check-in - Check-out <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        <input type="text" autocomplete="off" class="form-control daterange-time" id="StayRange" placeholder="Select check-in and check-out" value="" />
                                    </div>     
                                    <span asp-validation-for="CheckInDate" class="text-danger validation-error-label"></span>

                                </div>
                                <input type="hidden" asp-for="CheckInDate" id="CheckInDate" />
                                <input type="hidden" asp-for="CheckOutDate" id="CheckOutDate" />
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Number of Nights</label>
                                    <input type="text" class="form-control" asp-for="NumOfNights" id="NumOfNights" readonly />
                                    <span asp-validation-for="NumOfNights" class="text-danger validation-error-label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <legend class="text-semibold" style="margin-top:200px">
                    <i class="icon-reading position-left"></i> Rooms Selection
                    <a class="control-arrow" data-toggle="collapse" data-target="#demo2" >
                        <i class="icon-circle-down2"></i>
                    </a>
                </legend>
                <div class="col-md-12">
                    <div id="demo2" class="collapse in">
                        <div class="form-group">
                            <button type="button" style="width:100px" id="singleBtn" class="btn text-teal-800 border-teal btn-flat" onclick="setToSingleMode()">Single</button>
                            <button type="button" style="width:100px" id="groupBtn" class="btn bg-teal" onclick="setToGroupMode()">Group</button>
                        </div>

                        <table class="table table-bordered" id="roomTable">
                            <thead>
                                <tr class="active">
                                    <th>Room Type</th>
                                    <th>No. of Rooms</th>
                                    <th>Adults</th>
                                    <th>Children</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <span asp-validation-for="RoomTypeToBookDTOs" class="text-danger validation-error-label"></span>

                        <div id="addRoomWrapper" style="margin-top:10px">
                            <button type="button" class="btn text-teal-800 border-teal btn-flat" onclick="addRoomRow()">Add Room</button>
                        </div>
                        <div class="row" style="margin-top:30px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="roomsSelect" class="form-label fw-semibold">
                                        Select Available Rooms
                                    </label>
                                    <div class="input-group">
                                        <select id="roomsSelect" class="form-control" multiple="multiple"></select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#rateModal">
                                                <i class="icon-search4 text-size-base"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                        <label class="control-label">Rate <span class="text-danger">*</span></label>

                                        <div class="input-group">
                                            <select id="rateSelect" asp-for="RateId" name="RateId" class="form-control select" required data-placeholder="Choose Rate">
                                                <option></option>
                                            </select>
                                            <div class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#rateModal">
                                                    <i class="icon-spinner9"></i> Rate Details
                                                </button>

                                            </div>
                                        </div>
                                        <span asp-validation-for="RateId" class="text-danger validation-error-label"></span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>

<div id="rateModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Rate Details</h5>
            </div>

            <div class="modal-body">
                <div class="panel">
                    
                    <div class="panel-body">
                        <div id="rateDetails" class="col-md-12"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="companyModal" class="modal fade in" style="display: none; padding-right: 15px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title">Company</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Serach company </label>
                            <select id="companySelect" class="form-control select" data-placeholder="Search by company name...">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <form id="companyForm">
                    <input type="hidden" id="CompanyIdHidden" value="0" />

                    <div class="panel panel-flat border-left-sm border-left-teal ">
                        <div class="panel-body">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyName">Name <span class="text-danger">*</span></label>
                                            <input type="text" id="CompanyName" name="CompanyName" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyPhone">Phone <span class="text-danger">*</span></label>
                                            <input type="text" id="CompanyPhone" name="CompanyPhone" class="form-control" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyAddress">Address</label>
                                            <input type="text" id="CompanyAddress" name="CompanyAddress" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyEmail">Email</label>
                                            <input type="text" id="CompanyEmail" name="CompanyEmail" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CompanyNotes">Notes</label>
                                            <textarea id="CompanyNotes" name="CompanyNotes" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-teal-400" id="saveCompanySelection">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const $roomsSelect = $('#roomsSelect');

        $roomsSelect.select2({
            placeholder: "Search & select available rooms...",
            //multiple: true,
            minimumInputLength: 2,
            ajax: {
                url: '/Room/GetAvailableRooms',
                dataType: 'json',
                delay: 250,
                data: params => ({
                    name: params.term // search term
                }),
                processResults: data => {
                    if (data.success) {
                        return {
                            results: data.data // already has id + text
                        };
                    }
                    return { results: [] };
                },
                cache: true
            }
        });
    });
</script>

<script>
    $(function () {
        const $companySelect = $('#companySelect');
        const $companyForm = $('#companyForm');

        $companySelect.select2({
            placeholder: "Search company...",
            minimumInputLength: 4,
            ajax: {
                url: '/Company/GetSerachedCompaniesByName',
                dataType: 'json',
                delay: 250,
                data: params => ({ name: params.term }),
                processResults: data => ({
                    results: data.map(c => ({ id: c.id, text: c.displayText }))
                })
            }
        });

        $companySelect.on('select2:select', e => {
            const id = e.params.data.id;
            $.get(`/Company/GetSerachedCompanyData/${id}`)
                .done(c => {
                    $('#CompanyIdHidden').val(c.id);
                    $('#CompanyName').val(c.name);
                    $('#CompanyPhone').val(c.phone);
                    $('#CompanyAddress').val(c.address);
                    $('#CompanyEmail').val(c.email);
                    $('#CompanyNotes').val(c.notes);
                })
                .fail(() => alert('⚠️ Failed to fetch company details'));
        });

        $companyForm.on('submit', function (e) {
            e.preventDefault();

            const dto = {
                Id: $('#CompanyIdHidden').val() || 0,
                Name: $('#CompanyName').val() || null,
                Phone: $('#CompanyPhone').val() || null,
                Address: $('#CompanyAddress').val() || null,
                Email: $('#CompanyEmail').val() || null,
                Notes: $('#CompanyNotes').val() || null
            };

            $.ajax({
                url: '/Company/SaveCompany',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dto)
            })
                .done(res => {
                    if (res.success) {
                        $('#selectedCompanyName').val(res.name);
                        $('#CompanyId').val(res.companyId);

                        $('#companyModal').modal('hide');
                        $companyForm[0].reset();
                        $('#CompanyIdHidden').val('');
                        $companySelect.val(null).trigger('change');
                    } else {
                        alert('⚠️ Error saving company');
                    }
                })
                .fail(() => alert('⚠️ Server error while saving company'));
        });
    });
</script>

<script>
    $(function () {
        function clearDates() {
            $('#CheckInDate').val('').trigger('change');
            $('#CheckOutDate').val('').trigger('change');
            $('#NumOfNights').val('');
            $('#StayRange').val('');
        }

        clearDates();

        $('.daterange-time').on('apply.daterangepicker', function (ev, picker) {
            const checkIn = picker.startDate;
            const checkOut = picker.endDate;

            if (checkIn >= checkOut) {
                showAlert('error', 'Invalid Dates', 'Check-out must be after check-in.');
                clearDates();
                return;
            }

            // Hidden fields for backend (ISO format)
            $('#CheckInDate').val(checkIn.format('YYYY-MM-DDTHH:mm')).trigger('change');
            $('#CheckOutDate').val(checkOut.format('YYYY-MM-DDTHH:mm')).trigger('change');

            // Calculate nights
            const durationHours = checkOut.diff(checkIn, 'hours', true);
            const nights = durationHours < 24 ? 0 : Math.floor(durationHours / 24);
            $('#NumOfNights').val(nights);

            // Visible input in requested format
            $(this).val(
                checkIn.format('DD/MM/YYYY hh:mm a') + ' - ' + checkOut.format('DD/MM/YYYY hh:mm a')
            );
        });

        $('.daterange-time').on('cancel.daterangepicker', function () {
            clearDates();
        });
    });
</script>

<script>
    let isGroupMode = false;

    // ========== Helpers ==========
    function fillOptions($select, start, end, minDefault = null) {
        const prev = $select.val();
        $select.empty().append('<option></option>');
        for (let i = start; i <= end; i++) {
            $select.append(`<option value="${i}">${i}</option>`);
        }
        if (prev && +prev >= start && +prev <= end) {
            $select.val(prev).trigger('change.select2');
        } else if (minDefault !== null) {
            $select.val(minDefault).trigger('change.select2');
        }
    }

    function updateRowCapacities($row) {
        const $roomType = $row.find('.room-type-select');
        const $numRooms = $row.find('.num-rooms-select');
        const $adults = $row.find('.num-adults-select');
        const $children = $row.find('.num-children-select');

        const opt = $roomType.find('option:selected');
        if (!opt.length) return;

        const maxAdults = +opt.data('max-adults') || 0;
        const maxChildren = +opt.data('max-children') || 0;
        const rooms = +$numRooms.val() || 0;

        if (rooms > 0) {
            fillOptions($adults, 1, maxAdults * rooms, 1);
            fillOptions($children, 0, maxChildren * rooms, 0);
        } else {
            $adults.empty().append('<option></option>').val(null).trigger('change.select2');
            $children.empty().append('<option></option>').val(null).trigger('change.select2');
        }
    }

    function refreshAllRoomTypeOptions() {
        const allSelects = $('.room-type-select');
        const selected = allSelects.map(function () { return $(this).val(); }).get().filter(Boolean);

        allSelects.each(function () {
            const current = $(this).val();
            $(this).find('option').each(function () {
                const val = $(this).val();
                $(this).prop('disabled', isGroupMode && val && val !== current && selected.includes(val));
            });
        }).trigger('change.select2');
    }

    function toggleRoomSelectsBasedOnDates() {
        const hasDates = $('#CheckInDate').val() && $('#CheckOutDate').val();
        $('#roomTable select').prop('disabled', !hasDates);
        if (!hasDates) {
            $('#roomTable .select').val(null).trigger('change.select2');
        }
    }

    // ========== Select2 Setup ==========
    function formatRoomOption(data) {
        if (!data.id) return data.text;
        const $opt = $(data.element);
        const name = $opt.data('name') || data.text;
        const count = $opt.data('count');
        const disabled = $opt.prop('disabled');
        return $(`
                <div class="d-flex justify-content-between ${disabled ? 'text-muted' : ''}">
                    <span>${name}</span>
                    <span class="label ${disabled ? 'bg-danger' : 'bg-primary'}">${count}</span>
                </div>
            `);
    }
    function formatSelection(data) { return data.text; }

    function initializeRow($row) {
        const $roomType = $row.find('.room-type-select');

        $roomType.select2({
            width: '100%',
            placeholder: $roomType.data('placeholder'),
            templateResult: formatRoomOption,
            templateSelection: formatSelection
        }).on('select2:selecting', e => {
            const count = $(e.params.args.data.element).data('count');
            if (!count) {
                e.preventDefault();
                toastr.warning("This room type is not available.");
            }
        }).on('change', function () {
            const $row = $(this).closest('tr');
            const maxRooms = +$(this).find('option:selected').data('count') || 0;
            const $numRooms = $row.find('.num-rooms-select');
            fillOptions($numRooms, 1, maxRooms, maxRooms > 0 ? 1 : null);
            updateRowCapacities($row);
            refreshAllRoomTypeOptions();
        });

        $row.find('select:not(.room-type-select)').select2({ width: '100%' })
            .on('change', function () { updateRowCapacities($row); });
    }

    // ========== Modes ==========
    function setToSingleMode() {
        isGroupMode = false;
        $('#addRoomWrapper').hide();
        $('#singleBtn').addClass('text-teal-800 border-teal btn-flat').removeClass('bg-teal');
        $('#groupBtn').removeClass('text-teal-800 border-teal btn-flat').addClass('bg-teal');
        const rows = $('#roomTable tbody tr');
        if (rows.length > 1) rows.slice(1).remove();
        refreshAllRoomTypeOptions();
    }

    function setToGroupMode() {
        isGroupMode = true;
        $('#addRoomWrapper').show();
        $('#groupBtn').addClass('text-teal-800 border-teal btn-flat').removeClass('bg-teal');
        $('#singleBtn').removeClass('text-teal-800 border-teal btn-flat').addClass('bg-teal');
        refreshAllRoomTypeOptions();
    }

    // ========== Row handling ==========
    function addRoomRow() {
        const lastRow = $('#roomTable tbody tr').last();
        if (lastRow.length && !lastRow.find('select').toArray().every(s => $(s).val())) {
            toastr.warning("Please fill all fields in the last row first.");
            return;
        }

        const selectedIds = $('.room-type-select').map((_, el) => $(el).val()).get().filter(Boolean);
        let optionsHtml = `<option></option>`;
    @foreach (var item in ViewBag.RoomTypes)
    {
        <text>
                        if (!(isGroupMode && selectedIds.includes("@item.Id"))) {
                optionsHtml += `<option value="@item.Id"
                                data-name="@item.Name"
                                data-count="@item.NumOfAvailableRooms"
                                data-max-adults="@item.MaxNumOfAdults"
                                        data-max-children="@item.MaxNumOfChildrens">
                @item.Name (@item.NumOfAvailableRooms available)
                            </option>`;
            }
        </text>
    }

            const $newRow = $(`
                <tr>
                    <td><select class="form-control select room-type-select" data-placeholder="Room Type">${optionsHtml}</select></td>
                    <td><select class="form-control select num-rooms-select" data-placeholder="Rooms"></select></td>
                    <td><select class="form-control select num-adults-select" data-placeholder="Adults"></select></td>
                    <td><select class="form-control select num-children-select" data-placeholder="Children"></select></td>
                    <td><button type="button" class="btn btn-sm btn-danger remove-room-btn">−</button></td>
                </tr>
            `);

        $('#roomTable tbody').append($newRow);
        initializeRow($newRow);
        updateRemoveButtons();
        toggleRoomSelectsBasedOnDates();
        refreshAllRoomTypeOptions();
    }

    function removeRoomRow(btn) {
        $(btn).closest('tr').remove();
        updateRemoveButtons();
        refreshAllRoomTypeOptions();
    }

    function updateRemoveButtons() {
        const rows = $('#roomTable tbody tr');
        rows.find('.remove-room-btn').toggle(rows.length > 1);
    }

    // ========== Init ==========
    $(function () {
        $('#singleBtn').on('click', setToSingleMode);
        $('#groupBtn').on('click', setToGroupMode);
        $(document).on('click', '.remove-room-btn', function () { removeRoomRow(this); });
        $('#CheckInDate, #CheckOutDate').on('change', toggleRoomSelectsBasedOnDates);

        setToSingleMode();
        addRoomRow();
        updateRemoveButtons();
        toggleRoomSelectsBasedOnDates();
    });
</script>

<script>
    $(function () {
        const $rateSelect = $('#rateSelect');
        const $checkIn = $('#CheckInDate');
        const $checkOut = $('#CheckOutDate');
        const $modal = $('#rateModal');
        const $rateDetails = $('#rateDetails');

        // 🔹 Reload rates when room types or dates change
        $(document).on('change', '#roomTable .room-type-select, #CheckInDate, #CheckOutDate', updateRates);

        function updateRates() {
            const roomTypeIds = $('#roomTable .room-type-select').map(function () {
                return $(this).val() || null;
            }).get().filter(Boolean);

            if (!roomTypeIds.length || !$checkIn.val() || !$checkOut.val()) {
                resetRates();
                return;
            }

            $.ajax({
                url: '/Rate/GetRatesByRoomTypes',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    RoomTypeIds: roomTypeIds,
                    CheckInDate: new Date($checkIn.val()),
                    CheckOutDate: new Date($checkOut.val())
                })
            })
                .done(rates => {
                    $rateSelect.empty().append(new Option('Select Rate', '', false, false));

                    rates.forEach(rate => {
                        const roomTypeInfo = rate.roomTypeRateForReservations
                            .map(rt => `${rt.typeName} ($${rt.dailyPrice})`)
                            .join(' - ');
                        const optionText = `${rate.name}|||${roomTypeInfo}`;
                        $rateSelect.append(new Option(optionText, rate.id, false, false));
                    });

                    $rateSelect.select2({
                        width: '100%',
                        placeholder: "Choose Rate",
                        templateResult: formatRateOption,
                        templateSelection: formatRateOption
                    });
                })
                .fail(xhr => {
                    console.error('❌ Failed to load rates:', xhr.responseText);
                    resetRates();
                });
        }

        function resetRates() {
            $rateSelect.empty().append(new Option('Select Rate', '', false, false)).val(null).trigger('change');
            $rateDetails.empty().hide();
        }

        // 🔹 Custom rendering for dropdown
        function formatRateOption(option) {
            if (!option.id) return option.text;
            const [name, types] = option.text.split('|||');
            return $(`
                    <div>
                        <span class="text-success"><b>${name}</b></span>
                        <small> - ${types}</small>
                    </div>
                `);
        }

        // 🔹 Load rate details into modal
        function loadRateDetails() {
            const rateId = $rateSelect.val();
            const checkIn = $checkIn.val();
            const checkOut = $checkOut.val();

            if (!rateId || !checkIn || !checkOut) {
                $rateDetails.html('<p class="text-danger">Please select a rate, check-in, and check-out.</p>').show();
                return;
            }

            // 🔹 Build roomTypeQuantities from table
            const roomTypeQuantities = [];
            $('#roomTable tbody tr').each(function () {
                const roomTypeId = $(this).find('.room-type-select').val();
                const quantity = $(this).find('.num-rooms-select').val(); // <-- use this class

                if (roomTypeId && quantity) {
                    roomTypeQuantities.push({
                        RoomTypeId: parseInt(roomTypeId),
                        Quantity: parseInt(quantity)
                    });

                }
            });


            if (roomTypeQuantities.length === 0) {
                $rateDetails.html('<p class="text-danger">Please add at least one room with quantity.</p>').show();
                return;
            }

            $.ajax({
                url: '/Rate/GetReservationChargesSummary',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    RateId: parseInt(rateId),
                    CheckIn: new Date(checkIn),
                    CheckOut: new Date(checkOut),
                    roomTypeQuantities: roomTypeQuantities
                })
            })
                .done(res => {
                    if (!res.success || !res.data) {
                        $rateDetails.html(`<p class="text-danger">${res.message || 'No calculation available.'}</p>`).show();
                        return;
                    }

                    const summary = res.data.chargesSummary;
                    let html = `<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Charge</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>`;
                    summary.forEach(item => {
                        html += `<tr>
                            <td>${item.charge}</td>
                            <td>${item.unit}</td>
                            <td>${item.rate}</td>
                            <td>${item.total}</td>
                         </tr>`;
                    });
                    html += `</tbody></table>
                     <h4 class="text-success">Total Price: ${res.data.totalPrice}</h4>`;

                    $rateDetails.html(html).show();
                })
                .fail(xhr => {
                    console.error('❌ Failed to load reservation charges summary:', xhr.responseText);
                    $rateDetails.html('<p class="text-danger">Error loading charges summary.</p>').show();
                });
        }


        // 🔹 Modal events
        $modal.on('show.bs.modal', loadRateDetails);
        $modal.on('click', '[data-action="reload"]', e => {
            e.preventDefault();
            loadRateDetails();
        });
    });
</script>

<script>
   $("#bookRoomForm").on("submit", function (e) {
    e.preventDefault();

    const companyIdVal = $("#CompanyId").val();
    const formData = {
        CheckInDate: $("#CheckInDate").val(),
        CheckOutDate: $("#CheckOutDate").val(),
        NumOfNights: $("#NumOfNights").val(),
            ReservationSourceId: $("#reservationSourceSelect").val(),
        RateId: $("#rateSelect").val(),
        companyId: companyIdVal ? parseInt(companyIdVal) : null,
        roomTypeToBookDTOs: [],
        RoomsIDs: [] // ✅ init list for room IDs
    };

    // ✅ Extract selected room types from the dynamic table
    $("#roomTable tbody tr").each(function () {
        const roomTypeId = $(this).find("select").eq(0).val();
        const numOfRooms = $(this).find(".num-rooms-select").val();
        const numAdults = $(this).find(".num-adults-select").val();
        const numChildren = $(this).find(".num-children-select").val();

        if (roomTypeId && numOfRooms > 0) {
            formData.roomTypeToBookDTOs.push({
                Id: parseInt(roomTypeId),
                NumOfRooms: parseInt(numOfRooms),
                NumOfAdults: parseInt(numAdults || 0),
                NumOfChildren: parseInt(numChildren || 0)
            });
        }
    });

    // ✅ Add selected rooms from Select2
    const selectedRooms = $("#roomsSelect").val(); // array of selected IDs as strings
    if (selectedRooms && selectedRooms.length > 0) {
        formData.RoomsIDs = selectedRooms.map(id => parseInt(id));
    }

    $.ajax({
        url: '/Reservation/SaveRoomToBook',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function (response) {
            if (response.success) {
                toastr.success(response.message, 'Success');

                // Confirmation info
                $("#confirmCheckIn").text(formData.CheckInDate);
                $("#confirmCheckOut").text(formData.CheckOutDate);

                const checkIn = new Date(formData.CheckInDate);
                const checkOut = new Date(formData.CheckOutDate);
                const nights = Math.round((checkOut - checkIn) / (1000 * 60 * 60 * 24));
                $("#confirmNights").text(nights);

                if (response.amount) {
                    $("#confirmAmount").text(response.amount + " EGP");
                }

                $(document).trigger("roomBookingSuccess");
            } else {
                    $("#bookRoomContainer").html(response);
                //showAlert('error', 'Validation Error', response.message);
            }
        },
        error: function () {
            Swal.fire("Error", "Failed to save room booking.", "error");
        }
    });
});


</script>