@model IEnumerable<GetAllReservationsDTO>
@{
	TempData["Title"] = "Reservations";

	var canView = User.HasClaim("permission", "Reservation.View");
	var canEdit = User.HasClaim("permission", "Reservation.Edit");
	var canDelete = User.HasClaim("permission", "Reservation.Delete");
}

<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Reservations</span> </h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home"><i class="icon-home2 position-left"></i> Home</a></li>
            @* <li><a asp-action="Index" asp-controller="Reservation">Reseravation Managment</a></li> *@
            <li class="active">Reservations (@Model.Count())</li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content ">

	<!-- Basic datatable -->
	<div class="panel panel-flat ">
		<div class="panel-heading">
			<h5 class="panel-title">Reservations</h5>
			@if (User.HasClaim("permission", "Reservation.Add"))
            {
			<div class="heading-elements" style=" margin-right:0px">
				<a asp-action="AddReservation" asp-controller="Reservation" type="button" class="btn bg-teal-400 btn-lg">
					<i class="icon-plus-circle2" style="font-size:21px; margin-right:5px; margin-top:3px"></i>
					Add Reservation
				</a>
			</div>
			}
		</div>
		<hr class="my-3" style="margin-top:5px">

		<div class="panel-heading" style="margin-bottom:40px">
			<div class="heading-elements">
				<ul class="icons-list">
					<li>
						<button href="#filterForm" data-toggle="collapse" aria-expanded="false" id="toggleFilterBtn" class="btn bg-teal-400 "><i class="icon-filter3"></i> Filter</button>
					</li>
                    <li><a class="btn bg-teal-400" id="refreshReservationsBtn" style="color:#fff" data-action="reload"></a></li>
					<li><a class="btn bg-teal-400" style="color:#fff" data-action="collapse"></a></li>
				</ul>
			</div>
		</div>

		<div class="row " style="padding-left:50px; padding-right:50px">
			<div class="col-md-12">
				<div class="mt-10 collapse" id="filterForm" aria-expanded="false" style="height: 0px;">
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h6 class="panel-title"><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
							<div class="heading-elements">
								<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="reload"></a></li>
								</ul>
							</div>
						</div>

						<div class="panel-body">
							<form id="reservationFilterForm">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
                                            <label>Check In Date</label>
											<input type="date" class="form-control" name="checkInDate" placeholder="Check In Date">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
                                            <label>Check Out Date</label>
											<input type="date" class="form-control" name="checkOutDate" placeholder="Check Out Date">
										</div>
									</div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Primary Guest</label>
                                            <input type="text" class="form-control" name="primaryGuestName" placeholder="Guest Name">
                                        </div>
                                    </div>
								</div>

								<div class="text-right">
									<button type="submit" class="btn btn-primary"> <i class="icon-search4"></i> Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

		<table class="table datatable-button-html5-basic dataTable" id="MyTable">
			<thead>
				<tr class="border-double">
					<th>ID#</th>
					<th>Primary Guest</th>
					<th>Check In Date</th>
					<th>Check Out Date</th>
                    <th>Nights</th>
                    <th>People</th>
                    <th>Source</th>
					<th>Status</th>
					<th>Created By</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr id="item-@item.Id">
						<td><a>@item.Id</a></td>
						<td>@item.PrimaryGuestName</td>
						<td>@item.CheckInDate.ToShortDateString()</td>
						<td>@item.CheckOutDate.ToShortDateString()</td>
                        <td>@item.NumberOfNights</td>
                        <td>@item.NumberOfPeople</td>
                        <td>@item.ReservationSource</td>
						<td>@item.Status</td>
						<td>@item.CreatedBy</td>
						<td>
							@if (User.HasClaim("permission", "Reservation.View"))
							{
								<a><i class="icon-info22" style="font-size:20px; margin-right:8px"></i>  </a>
							}
							@if (User.HasClaim("permission", "Reservation.Edit"))
							{
								<a data-title="Edit Resrvation" data-url="" class="text-teal-600 btnEditOpenModal"><i class="icon-pencil7" style="font-size:20px; margin-right:8px"></i> </a>
							}
							@if (User.HasClaim("permission", "Reservation.Delete"))
							{
                                <a data-url="/Reservation/DeleteReservation/@item.Id"
                                   class="text-danger-600 btn-delete">
                                    <i class="icon-trash" style="font-size:20px;margin-right:8px"></i>
                                </a>
                            }
							
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<!-- /basic datatable -->
</div>
<!-- /content area -->

@section Scripts {
    <script>
        $(document).ready(function () {
            let dataTable = $("#MyTable").DataTable();

            function loadReservations(checkInDate = "", checkOutDate = "", primaryGuestName = "", isRefresh = false) {
                $.ajax({
                    url: '/Reservation/GetReservationJson',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        checkInDate: checkInDate,
                        checkOutDate: checkOutDate,
                        primaryGuestName: primaryGuestName
                    },
                    success: function (response) {
                        if (response.success) {
                            let reservations = response.data;
                            dataTable.clear();

                            $.each(reservations, function (index, item) {
                                let actionButtons = getActionButtons(item);

                                dataTable.row.add([
                                    item.id,
                                    item.primaryGuestName,
                                    formatDate(item.checkInDate),
                                    formatDate(item.checkOutDate),
                                    item.numberOfNights,
                                    item.numberOfPeople,
                                    item.reservationSource,
                                    item.status,
                                    item.createdBy,
                                    actionButtons
                                ]);
                            });

                            dataTable.draw();
                        } else {
                            console.error("Failed to load reservations.");
                        }
                    },
                    error: function () {
                        console.error("Error while fetching reservations.");
                    }
                });
            }

            // Filter submit
            $("#reservationFilterForm").submit(function (e) {
                e.preventDefault();
                let checkInDate = $("input[name='checkInDate']").val();
                let checkOutDate = $("input[name='checkOutDate']").val();
                let primaryGuestName = $("input[name='primaryGuestName']").val();

                loadReservations(checkInDate, checkOutDate, primaryGuestName, false);
            });

            // Reset button
            $("#refreshReservationsBtn").click(function () {
                $("#reservationFilterForm")[0].reset();
                loadReservations("", "", "", true);
            });

            // Helpers
            function formatDate(dateStr) {
                if (!dateStr) return "";
                let date = new Date(dateStr);
                return date.toLocaleDateString();
            }

            function getActionButtons(item) {
                let canView = @canView.ToString().ToLower();
                let canEdit = @canEdit.ToString().ToLower();
                let canDelete = @canDelete.ToString().ToLower();

                return (canView ? `<a data-title="Reservation Details" data-url="/Reservation/Details/${item.id}" class="btnEditOpenModal"><i class="icon-info22" style="font-size:20px; margin-right:8px"></i></a>` : '') +
                    (canEdit ? `<a href="/Reservation/Edit/${item.id}" class="text-teal-600"><i class="icon-pencil7" style="font-size:20px; margin-right:8px"></i></a>` : '') +
                    (canDelete ? `<a data-id="${item.id}" class="text-danger-600 btn-delete"><i class="icon-trash" style="font-size:20px;margin-right:8px"></i></a>` : '');
            }
        });
    </script>
    @if (TempData["RoomsPercent"] != null)
    {
        <script>
            $(function () {
                toastr.warning("@TempData["RoomsPercent"]");
            });
        </script>
    }
   @*  @if (TempData["Success"] != null)
    {
        <script>
            $(function () {
                toastr.success("@TempData["Success"]");
            });
        </script>
    } *@
}
