@model IEnumerable<GetAllReservationsDTO>
@{
	TempData["Title"] = "Reservations";

	var canView = User.HasClaim("permission", "Reservation.View");
	var canEdit = User.HasClaim("permission", "Reservation.Edit");
	var canDelete = User.HasClaim("permission", "Reservation.Delete");
}

<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Reservations</span> </h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home"><i class="icon-home2 position-left"></i> Home</a></li>
            @* <li><a asp-action="Index" asp-controller="Reservation">Reseravation Managment</a></li> *@
            <li class="active">Reservations (<span id="reservationCount">@Model.Count()</span>)</li>

        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content ">

	<div class="panel panel-flat ">
		<div class="panel-heading">
			<h5 class="panel-title">Reservations</h5>

			@if (User.HasClaim("permission", "Reservation.Add"))
            {
			<div class="heading-elements" style=" margin-right:0px">
				<a asp-action="AddReservation" asp-controller="Reservation" type="button" class="btn bg-teal-400 btn-lg">
					<i class="icon-plus-circle2" style="font-size:21px;"></i>
					Add Reservation
				</a>
			</div>
			}
		</div>
		<hr class="my-3" style="margin-top:1px; margin-bottom:2px">

		<div class="panel-heading" style="margin-bottom:30px">
			<div class="heading-elements">
				<ul class="icons-list">
					<li>
						<button href="#filterForm" data-toggle="collapse" aria-expanded="false" id="toggleFilterBtn" class="btn bg-teal-400 "><i class="icon-filter3"></i> Filter</button>
					</li>
                    <li><a class="btn bg-teal-400" id="refreshReservationsBtn" style="color:#fff" data-action="reload"></a></li>
					<li><a class="btn bg-teal-400" style="color:#fff" data-action="collapse"></a></li>
				</ul>
			</div>
		</div>
            
        <div class="row" style="padding-left: 40px; padding-right: 40px">
                <div class="col-md-12">
                    <div class="mt-10 collapse" id="filterForm" aria-expanded="false" style="height: 0px;">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <form id="reservationFilterForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Check In Date</label>
                                                <input type="date" class="form-control" name="checkInDate">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Check Out Date</label>
                                                <input type="date" class="form-control" name="checkOutDate">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Primary Guest</label>
                                                <input type="text" class="form-control" name="primaryGuestName" placeholder="Primary Guest Name">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Reservation Category</label>
                                                <select class="form-control select" name="ReservationCategory" id="filterType" data-placeholder="Select Reservation Category">
                                                    <option value="0">All</option>
                                                    <option value="1">New Bookings</option>
                                                    <option value="2">Arrivals</option>
                                                    <option value="3">Departures</option>
                                                    <option value="4">Stay Overs</option>
                                                    <option value="5">Cancellations</option>
                                                    <option value="6">No Show</option>
                                                </select>

                                                <input type="hidden" id="currentReservationCategory" value="@ViewBag.CurrentReservationCategory" />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                    <button type="submit" class="btn btn-primary btn-ladda btn-ladda-spinner ladda-button" data-spinner-color="#fff" data-spinner-size="20" data-style="expand-right">
                                            <i class="icon-search4"></i> Search
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        <table class="table datatable-button-html5-basic dataTable" id="MyTable">
			<thead>
                <tr class="border-double active">
					<th>ID#</th>
					<th>Primary Guest</th>
					<th>Check In Date</th>
					<th>Check Out Date</th>
                    <th>Nights</th>
                    <th>People</th>
                    <th>Source</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
                @foreach (var item in Model) 
				{
					<tr id="item-@item.Id">
                        <td><a asp-action="Details" asp-controller="Reservation" asp-route-Id="@item.Id">@item.Id</a></td>
						<td>@item.PrimaryGuestName</td>
						<td>@item.CheckInDate.ToShortDateString()</td>
						<td>@item.CheckOutDate.ToShortDateString()</td>
                        <td>@item.NumberOfNights</td>
                        <td>@item.NumberOfPeople</td>
                        <td>@item.ReservationSource</td>
                        <td>@item.Status</td>

						<td class="text-center">

							<ul class="icons-list">
								<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<i class="icon-menu9"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-right">
										@if (User.HasClaim("permission", "Reservation.View"))
										{
                                            <li><a href="#"><i class="icon-info22"></i> View</a></li>
                                        }
										@if (User.HasClaim("permission", "Reservation.Edit"))
										{
                                            <li><a href="#"><i class="icon-pencil7"></i> Edit</a></li>
                                        }
										@if (User.HasClaim("permission", "Reservation.Delete"))
										{
                                            <li><a href="#" class="btn-delete"><i class="icon-trash"></i> Delete</a></li>
                                        }
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<!-- /content area -->
@section Scripts {
    <script>
        $(function () {
            let dataTable = $("#MyTable").DataTable();

            let currentReservationCategory = $("#currentReservationCategory").val() || "0";

            $("#filterType").val(currentReservationCategory.toString()).trigger("change");

            // -------------------------
            // Load Reservations via Ajax
            // -------------------------
            function loadReservations(filters = {}) {
                if (currentReservationCategory && currentReservationCategory !== "0") {
                    filters.ReservationCategory = currentReservationCategory;
                }

                $.getJSON("/Reservation/GetReservationJson", filters, function (response) {
                    if (response.success) {
                        let items = response.data;
                        dataTable.clear();

                        $.each(items, function (index, item) {
                            dataTable.row.add([
                                `<a>${item.id}</a>`,
                                item.primaryGuestName,
                                formatDate(item.checkInDate),
                                formatDate(item.checkOutDate),
                                item.numberOfNights,
                                item.numberOfPeople,
                                item.reservationSource,
                                item.status,
                                getActionButtons(item)
                            ]);
                        });

                        dataTable.draw();
                        $("#reservationCount").text(items.length);
                    }
                }).fail(function () {
                    console.error("Error fetching reservations");
                });
            }

            function formatDate(dateStr) {
                if (!dateStr) return "";
                let date = new Date(dateStr);
                return date.toLocaleDateString();
            }

            function getActionButtons(item) {
                let canView = @canView.ToString().ToLower();
                let canEdit = @canEdit.ToString().ToLower();
                let canDelete = @canDelete.ToString().ToLower();

                return `
                                <ul class="icons-list">
                                    <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu9"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            ${canView ? `<li><a data-url="/Reservation/Details/${item.id}" class="btnEditOpenModal"><i class="icon-info22"></i> View</a></li>` : ''}
                                            ${canEdit ? `<li><a href="/Reservation/Edit/${item.id}"><i class="icon-pencil7"></i> Edit</a></li>` : ''}
                                            ${canDelete ? `<li><a data-id="${item.id}" class="btn-delete"><i class="icon-trash"></i> Delete</a></li>` : ''}
                                        </ul>
                                    </li>
                                </ul>`;
            }

            // -------------------------
            // Filter form submit
            // -------------------------
            $("#reservationFilterForm").submit(function (e) {
                e.preventDefault();
                let filters = {};
                $(this).serializeArray().forEach(x => filters[x.name] = x.value);

                // ✅ Always store as string
                currentReservationCategory = (filters.ReservationCategory || "0").toString();

                loadReservations(filters);
            });

            // -------------------------
            // Refresh button
            // -------------------------
            $("#refreshReservationsBtn").click(function () {
                $("#reservationFilterForm")[0].reset();   // clear form inputs
                currentReservationCategory = "0";         // reset dashboard category
                $("#filterType").val("0").trigger("change"); // reset dropdown
                loadReservations();                       // load all reservations
            });

            // -------------------------
            // Dashboard quick filters
            // -------------------------
            $(".dashboard-filter").click(function (e) {
                e.preventDefault();
                currentReservationCategory = ($(this).data("filter") || 0).toString();

                $("#reservationFilterForm")[0].reset(); // clear manual filters
                $("#filterType").val(currentReservationCategory).trigger("change"); // ✅ update dropdown

                loadReservations();
            });

            // -------------------------
            // Initial load
            // -------------------------
            //loadReservations();
        });
    </script>
}

