 @model IEnumerable<GetAllRoomsDTO>
@{
	TempData["Title"] = "Rooms";

	var canView = User.HasClaim("permission", "Room.View");
	var canEdit = User.HasClaim("permission", "Room.Edit");
	var canDelete = User.HasClaim("permission", "Room.Delete");

}

<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Rooms </span></h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div>
	</div>
	
	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a asp-action="Index" asp-controller="Home"><i class="icon-home2 position-left"></i> Home</a></li>
			@* <li><a asp-action="Index" asp-controller="Room">Rooms Management</a></li> *@
			<li class="active">Rooms (@Model.Count())</li>
		</ul>

		<ul class="breadcrumb-elements">
			<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-gear position-left"></i>
					Settings
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
					<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
					<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>


<div class="content ">

	<!-- Cards -->
	<div class="row">
        <div class="col-lg-4">
            <div class="panel panel-body bg-success-400 has-bg-image">
                <div class="media no-margin">
                    <div class="media-left media-middle">
                        <i class="icon-pointer icon-3x opacity-75"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 class="no-margin">@ViewBag.available</h3>
                        <span class="text-uppercase text-size-mini">total available rooms</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-body bg-primary-400 has-bg-image">
                <div class="media no-margin">
                    <div class="media-left media-middle">
						<i class="icon-enter6 icon-3x opacity-75"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 class="no-margin">@ViewBag.Occupied</h3>
                        <span class="text-uppercase text-size-mini">total occupied rooms</span>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-lg-4">
			<div class="panel panel-body bg-danger-400 has-bg-image">
				<div class="media no-margin">
					<div class="media-left media-middle">
						<i class="icon-cog3 icon-2x"></i>
					</div>

					<div class="media-body text-right">
						<h3 class="no-margin">@ViewBag.Maintain</h3>
						<span class="text-uppercase text-size-mini">total maintain rooms</span>
					</div>
				</div>
			</div>
		</div>

		
		


		
	</div>


	<div class="panel panel-flat ">
		<div class="panel-heading">
			<h5 class="panel-title">Rooms </h5>
			
			<div class="heading-elements">
				@if (User.HasClaim("Permission","Room.Add"))
				{

					<a asp-action="AddRoom" asp-controller="Room" type="button" class="btn bg-teal-400 btn-lg">
				<i class="icon-plus-circle2" style="font-size:21px; margin-right:0px; margin-top:3px"></i>
				Add Room 
				</a>
				}
			</div>
		</div>

		<hr class="my-3" style="margin-top:5px">

		<div class="panel-heading" style="margin-bottom:40px">
			<div class="heading-elements">
				<ul class="icons-list">
					<li><button href="#filterForm" data-toggle="collapse" aria-expanded="false" id="toggleFilterBtn" class="btn bg-teal-400 "><i class="icon-filter3"></i> Filter</button></li>
                    <li><a class="btn bg-teal-400" id="refreshRoomsBtn" style="color:#fff" data-action="reload"></a></li>
					<li><a class="btn bg-teal-400" style="color:#fff" data-action="collapse"></a></li>
				</ul>

			</div>
			
		</div>
		
		<div class="row" style="padding-left:50px; padding-right:50px">
			<div class="col-md-12">
				<div class="mt-10 collapse" id="filterForm" aria-expanded="false" style="height: 0px;">
                    <div class="panel panel-flat">
						<div class="panel-heading">
							<h6 class="panel-title"><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
							<div class="heading-elements">
								<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="reload"></a></li>
								</ul>
							</div>
						</div>
					
						<div class="panel-body">
							<form id="roomFilterForm">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<input type="text" class="form-control" name="roomNumber" placeholder="Room Number">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input type="number" class="form-control" name="maxNumOfAdults" placeholder="Max Adults">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input type="number" class="form-control" name="maxNumOfChildrens" placeholder="Max Children">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<select id="roomTypeSelect" class="form-control select" name="roomTypeId" data-placeholder="Choose Room Type">
												<option value=""></option>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<select id="statusSelect" class="form-control select" name="roomStatusId" data-placeholder="Choose Status">
												<option value=""></option>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<div class="checkbox">
												<label class="checkbox-inline checkbox-left checkbox-switchery switchery-sm">
													<input type="checkbox" id="activeSelect" name="isActive" checked class="switchery">
													Is Active
												</label>
											</div>
										</div>
									</div>
								</div>

								<div class="text-right">
									<button type="submit" class="btn btn-primary"> <i class="icon-search4"></i> Search</button>
								</div>
							</form>
						</div>
                    </div>   
                </div>

			</div>
		</div>

		<table class="table datatable-button-html5-basic dataTable" id="MyTable">
			<thead>
				<tr class="border-double active">
					<th>ID#</th>
					<th>Room Number</th>
					<th>Floor</th>
					<th>Room Type</th>
					<th>Max Adults</th>
					<th>Max Children</th>
					<th>Is Active</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="roomsTableBody">
				@foreach (var item in Model)
				{
					<tr class="room-row">
                        <td><a>@item.Id</a> </td>
						<td class="room-number">@item.RoomNumber</td>
						<td>@item.Floor</td>
						<td class="room-type">@item.TypeName</td>
						<td>@item.MaxNumOfAdults</td>
						<td>@item.MaxNumOfChildren</td>
						@if (item.IsActive)
						{
							<td><span class="label label-rounded label-success">Active</span></td>
						}
						else
						{
							<td><span class="label label-rounded label-danger">Not Active</span></td>
						}

						<td><span class="label label-flat" style="color:@item.RoomStatusColor; border-color:@item.RoomStatusColor">@item.RoomStatusName</span></td>
						<td>
							@if (User.HasClaim("permission", "Room.View"))
							{
								<a data-title="Room Details" data-url="/Room/GetRoomDetails/@item.Id" class="btnEditOpenModal">
									<i class="icon-info22" style="font-size:20px; margin-right:8px"></i>
								</a>
							}
							@if (User.HasClaim("permission", "Room.Edit"))
							{
								<a asp-action="EditRoom" asp-controller="Room" asp-route-Id="@item.Id" class="text-teal-600">
									<i class="icon-pencil7" style="font-size:20px; margin-right:8px"></i>
								</a>
							}
							@if (User.HasClaim("permission", "Room.Delete") && !item.IsActive)
							{
								<a data-url="/Room/DeleteRoom/@item.Id"
								   class="text-danger-600 btn-delete">
									<i class="icon-trash" style="font-size:20px;margin-right:8px"></i>
								</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>


	</div>
</div>


@section Scripts {

	<script>
		$(document).ready(function () {
			loadSelect("#roomTypeSelect", "/RoomType/GetRoomTypesJson", "typeName", "id");
			loadSelect("#statusSelect", "/RoomStatus/GetRoomStatusJson", "displayText", "id");
		});
	</script>
	
	<script>
		$(document).ready(function () {
			let isFiltered = false;

			// Initialize DataTable
			let dataTable = $("#MyTable").DataTable();

			function loadRooms(roomNumber = "", maxNumOfAdults = "", maxNumOfChildrens = "", roomTypeId = "", roomStatusId = "", isActive = "", isRefresh = false) {
				$.ajax({
					url: '/Room/GetRoomsJson',
					type: 'GET',
					dataType: 'json',
					data: {
						roomNumber: roomNumber,
						maxNumOfAdults: maxNumOfAdults,
						maxNumOfChildrens: maxNumOfChildrens,
						roomTypeId: roomTypeId,
						roomStatusId: roomStatusId,
						isActive: isActive
					},
					success: function (response) {
						if (response.success) {
							let roomsToShow = response.data;

							dataTable.clear();

							$.each(roomsToShow, function (index, item) {
								let isActiveLabel = item.isActive
									? '<span class="label label-flat border-success text-success-600">Active</span>'
									: '<span class="label label-flat border-danger text-danger-600">Not Active</span>';

								let statusLabel = getStatusBadge(item);
								let actionButtons = getActionButtons(item);

								dataTable.row.add([
									index + 1,
									item.roomNumber,
									item.floor,
									item.typeName,
									item.maxNumOfAdults,
									item.maxNumOfChildren,
									isActiveLabel,
									statusLabel,
									actionButtons
								]);
							});

							dataTable.draw();
						} else {
							console.error("Failed to load rooms.");
						}
					},
					error: function () {
						console.error("Error while fetching rooms.");
					}
				});
			}

			// Filter button
			$("#roomFilterForm").submit(function (e) {
				e.preventDefault();
				let roomNumber = $("input[name='roomNumber']").val();
				let maxNumOfAdults = $("input[name='maxNumOfAdults']").val();
				let maxNumOfChildrens = $("input[name='maxNumOfChildrens']").val();
				let roomTypeId = $("select[name='roomTypeId']").val();
				let roomStatusId = $("select[name='roomStatusId']").val();
				let isActive = $("#activeSelect").is(":checked"); // true or false

				isFiltered = true;
				loadRooms(roomNumber, maxNumOfAdults, maxNumOfChildrens, roomTypeId, roomStatusId, isActive, false);
			});

			
			// Refresh button
			$("#refreshRoomsBtn").click(function (e) {
				e.preventDefault();
				$("#roomFilterForm")[0].reset();
				$("#roomTypeSelect, #statusSelect, #activeSelect").val("").trigger("change");

				isFiltered = false;
				loadRooms("", "", "", "", "", "", true);
			});


			// Status badge using DB color
			function getStatusBadge(item) {
				let bg = item.roomStatusColor || '#999';
				let text = item.roomStatus || 'Unknown';
				return `<span class="label label-rounded" style="background-color:${bg}; color:#fff;">${text}</span>`;
			}

			// Action buttons
			function getActionButtons(item) {
				let canView = @canView.ToString().ToLower();   // Razor → JS boolean
				let canEdit = @canEdit.ToString().ToLower();
				let canDelete = @canDelete.ToString().ToLower();

				return (canView ? `<a data-title="Room Details" data-url="/Room/GetRoomDetails/${item.id}" class="btnEditOpenModal"><i class="icon-info22" style="font-size:20px; margin-right:8px"></i></a>` : '') +
					(canEdit ? `<a href="/Room/EditRoom/${item.id}" class="text-teal-600"><i class="icon-pencil7" style="font-size:20px; margin-right:8px"></i></a>` : '') +
					(canDelete && !item.isActive ? `<a data-id="${item.id}" class="text-danger-600 btn-delete"><i class="icon-trash" style="font-size:20px;margin-right:8px"></i></a>` : '');
			}



			// Optional: Load on page load
			// loadRooms();
		});
	</script>

}


